<% @search_results.each do |result| %>
		<div class="organiser">
<h3><%=result.name%></h3> 
<br>
	<%= result.description %>
<br>
<%= link_to "View",organiser_path(result) %>
<br>

<% if OrganiserFollow.find_by(user: current_user, organiser: result).present? %>
<%= link_to "Unfollow",new_organiser_follow_path(result.id), search: @search_params %>
<% else %>
<%= link_to "Follow",new_organiser_follow_path(result.id), search: @search_params %>
<% end %>
</div>
<% end %>
