<p id="notice"><%= notice %></p>

<h1>Event Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_pages.each do |event_page| %>
      <tr>
        <td><%= event_page.title %></td>
        <td><%= event_page.host %></td>
        <td><%= link_to 'Show', event_page %></td>
        <td><%= link_to 'Edit', edit_event_page_path(event_page) %></td>
        <td><%= link_to 'Destroy', event_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Page', new_event_page_path %>
