<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event_page.title %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event_page.host %>
</p>

<%= link_to 'Edit', edit_event_page_path(@event_page) %> |
<%= link_to 'Back', event_pages_path %>
