<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= @event.organiser %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @event.max_participants %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', organiser_path(@event.organiser_id) %>
