<!DOCTYPE html>
<html>
  <head>
    <title>Slicsite</title>
    <%= csrf_meta_tags %>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		  <nav>
		  <% if user_signed_in? %>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_user_session_path)  %>  
		  </li>
		<% end %>
		  </nav>
    <%= yield %>
  </body>
</html>
